:root{
    --gray40:#424242;
    --gray30:#212121;
    --gray20:#212429;
    --gray10:#616161;
    --yellow:#FEC62E;
    font-size: 16px;
    /* direction: ltr; o rtl */
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: 700;
}
.debug{
    border: 2px solid red;
}
html{
    scroll-behavior: smooth;
}
.header{
    position: sticky;
    top: 0;
}
.header-content{
    position: relative;
}
main{
    /* position: relative; */
}
.wrapper{
    max-width: 902px;
    margin: auto;  
}
.main-content{
    background-color: white;

}
body{
    color: var(--gray30);
    /* font-family: charter; */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}
a{
    color: var(--gray30);
}
header{
    font-size: 14px;
    color: var(--gray10);
    position: absolute;
    width: 208px;
    top: 64px;
    left: -232px;
}
header li{
    margin-bottom: 24px;
}
/* si  quiero cambiar las anclas dentro del header */
header a{
    color: var(--gray10);
    text-decoration: none;
}
header a:hover{
    color:var(--gray30);
}
nav details summary{
    font-weight:bold;
    line-height: 24px;
}
h1{
    font-size: 60px;
    margin-top: 64px;
    margin-bottom: 16px;
    font-weight: normal;
}
h1 + p {
    margin-bottom: 64px;
}
hr{
    margin:  64px 0;
}
h2{
    font-size: 2em;
    margin: 64px 0 40px;
    font-weight: normal;
}
h3{
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom:  24px;
    font-weight: normal;
}
h3 span{
    position: relative;
}
pre{
    background:var(--yellow);
    padding: 40px;
    font-family: 'Roboto';
    line-height: 24px;
}
.hero{
    /* background: url('../images/pattern.png'); */
    background-image: linear-gradient(to top, rgba(255,255,255, .3), transparent), url('../images/pattern.png');
    /* background-repeat:no-repeat;
    background-position:right 50px bottom 10px;
    background-size:cover; */
    height: 350px;
}
.section-content{
    counter-reset:titleList;
    margin-top: 164px;
}
.section-content:first-of-type{
   margin: 0;
}
.section-content h3{
    padding-bottom: 8px;
}
.section-content h3 span{
    counter-increment: titleList;
}
.section-content h3 span::before{
    content: counter(titleList,decimal) '. ';
}
.section-content h3 span{
}
.section-content h3 span::after{
    content: '';
    width:100%;
    height:4px;
    background: red;
    background: var(--gray30);
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 33px
}

.section-content img{
    margin-top: 40px;
}
/* h3::selection{
    color:greenyellow;
} */
blockquote{
    font-size: 24px;
    margin: 32px 0;
    padding-left: 16px;
    line-height: 24px;
    border-left: 4px solid var(--gray30);
}
blockquote p:first-child{
    color: var(--gray40);
}
blockquote span{
    color: var(--gray10);
}
blockquote span::before{
    content: '-';
}

.section-content + hr{
    display: none;
}

.section-content ul li {
    margin-bottom: 16px;
}
.section-content ol li {
    line-height: 24px;
}

.margenes{
    background-color: green;
}
.margenes p{
    background-color: blue;
    margin: 30px;
}
