:root{
    --dark: #251F24;
    --white30:white;
    --white20:#A5A3A5;
    --white10:#3A3539;
    font-size: 18px;
    /* direction: ltr; o rtl */
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: 700;
}
html{
    font-size: 16px;
    color:var(--white30);
    font-weight: normal;
}
body{
    background-color: var(--dark);
    color: var(--white30);
    /* font-family: charter; */
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    /* margin-inline: 100%;
    margin-block: 50px;
    margin-block-start: 10px;
    margin-block-end: 10px; */
}
p{
    font-size: 16px;
    color: var(--white20);
}
a{
    color: var(--white30);
}
.header{
    position: sticky;
    inset-block-start: -45px;
}
.header-content{
    position: relative;
    inset-block-start: 65px;
}
header{
    font-size: 14px;
    color: var(--white);
    /* position  */
    position:absolute;
    /* top  */
    /* inset-block-start: ; */
    /* bottom  */
    /* insert-block-end: ; */
    /* left  */
    inset-inline-start: -208px;
    /* right */
    /* inset-inline-end: ; */
    inline-size: 188px;
}
header li {
    color: var(--white20);
    margin-block-end: 16px;
}
/* si  quiero cambiar las anclas dentro del header */
header a{
    color: var(--white20);
    text-decoration: none;
}
h1,h2,h3{
    font-weight: normal;
}
hr{
    margin-block: 40px;
    border-color: rgba(97, 97, 97, 0.2);
}
h1{
    font-size:60px;
    margin-block-start: 64px;
    margin-block-end: 16px;
}
header a:hover{
    color:var(--white30);
}
summary{
    color: var(--white30)
}
nav details summary{
    font-weight:bold;
}

h2{
    font-size: 2em;
    margin-block: 40px;
}
h3{
    font-size: 1.5em;
    font-weight: 600;
    margin-block: 16px;
}
pre{
    background:var(--white10);
    padding: 40px;
    overflow: auto;
    /* border-radius: 8px;
    border: 10px solid yellow;
    border-inline-start: 10px solid red;
    border-block-start: 10px solid purple  ;
    border-block-end: 10px solid blue  ;
    border: 10px solid #5551FF;
    box-shadow: -10px 10px 0 0 #abaaf6;
    margin-block-end: 30px; */
    /* border-start-start-radius: 50px solid var(--white10); */
}
pre{
    background:var(--white10);
    padding: 40px;
    overflow: auto;
    border-radius: 8px;
}
.hero{
    /* background: url('../images/pattern.png'); */
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    /* background-repeat:no-repeat;
    background-position:right 50px bottom 10px;
    background-size:cover; */
    height: 350px;
}
.section-content{
    counter-reset:titleList;
}
.section-content h3{
    counter-increment: titleList;
}
.section-content h3::before{
    content: counter(titleList,decimal) '. ';
}

.section-content img{
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}
blockquote{
    margin-block-start: 80px;
    margin-block-end:63px;
    background-color: var(--white10);
    border-radius: 8px;
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    padding-block-end: 24px;
    padding-block-start: 24px;
    line-height: 32px;
}
blockquote p {
    color: var(--white30);
}
.main hr{
    display: none;
}
/* h3::selection{
    color:green--white10;
} */
.main{

}
.wrapper{
    inline-size: 902px;
    max-inline-size: 902px;
    margin: auto;
    /*width: 902px;*/
}
.main-content{
    padding-inline: 16px;
}
.slider{
    /* border: 2px solid cadetblue; */
}

.slider-container{
    /* block-size: 100px; */
    display: block;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0; /* para que no muestra una linea negra al borde derecho del video */
}
.video{
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
.slider-bullet-list{
    margin-block-start: 10px;
    text-align: center;
}
.slider-bullet{
    display: inline-block;
    block-size: 15px;
    inline-size: 15px;
    border-radius: 50%;
    background: white;
}
.mail-contant-container{
    margin-block-start: 51px;
    margin-block-end: 40px;
}